<app-header></app-header>
<body class="home page-template page-template-page-HOME page-template-page-HOME-php page page-id-15 LASlideshow LAColumns" style>
	<div id="master-wrap">
  
	  <div id="top-bar">
		<div class="top-bar-inner content-width">
  <form role="search" method="get" id="searchform" action="#" class="searchform global-search">
  <label class="is-hidden" for="s">Search Green Guide</label>
  <input type="search" value="" name="s" id="s" placeholder="Search Green Guide">
  <button type="submit" id="searchsubmit"><i class="fa fa-search"></i></button>
  </form><!-- / #searchform --> 
		</div><!-- / .top-bar-inner -->
	  </div><!-- / #top-bar -->
	
	  <header>
		<img alt="img" class="img-responsive smaller fit" src="assets\img\logo.jpg">
	  </header><!-- / #site-header -->
  
	  <nav id="main-menu" class="content-width">
  
		<div id="mobile-button"><i class="fa fa-bars"></i></div>
  
		<h1 class="is-hidden">Main Menu</h1>
  
		<ul class="menu">
		  <li id="menu-item-11686" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11686"><a href="pdb">Plants</a></li>
		  <li id="menu-item-4907" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4907"><a href="rcms">Recomendation Systems</a></li>
  <li id="menu-item-4910" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-4910"><a href="#">About Us</a>
  <ul class="sub-menu">
  <li id="menu-item-17" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-17"><a href="#">About GreenGuide</a></li>
  <li id="menu-item-9079" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-9079"><a href="#">Contact Us</a></li>
  </ul>
</li>
  <li id="menu-item-4908" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4908"><a href="lform">Login</a></li>
		</ul><!-- / .menu -->
<div class="container">

	<div class="row">
  
	  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
  
		<form>
  
		  <div id="user-data">
  
			<div class="form-group">
  
			  <label for="username">Username</label>
  
			  <input type="text" id="username" class="form-control">
  
			</div>
  
			<button class="btn btn-default" type="button">Suggest an Username</button>
  
			<div class="form-group">
  
			  <label for="email">Mail</label>
  
			  <input type="email" id="email" class="form-control">
  
			</div>
		  
	  </div>
  
		  <div class="form-group">
  
			<label for="secret">Secret Questions</label>
  
			<select id="secret" class="form-control">
  
			  <option value="pet">Your first Pet?</option>
  
			  <option value="teacher">Your first teacher?</option>
  
			</select>
  
		  </div>
  
		  <button class="btn btn-primary" type="submit">Submit</button>
  
		</form>
  
	  </div>
  
	</div>
  
  </div>
